* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 128, 207);
}

.category {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 128, 207);
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}


.container {
    width: 35rem;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.container_1 {
    width: 20rem;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.col {
    text-align: justify;
    padding: 15px;
    width: 95%;
}

#submit {
    width: 100%;
    background-color: #4caf50;
    transition: 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(8, 110, 29);
}

#add_questions {
    width: 25%;
    background-color: rgb(47, 8, 73);
    transition: 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    cursor: pointer;
    top: 0;
    right: 10;
    left: 20;

    position: absolute;
}

#add_questions:hover {
    background-color: rgb(34, 6, 53);
}


.box {
    box-shadow: 0px -1px 1px grey;
    width: 100%;
}

nav {
    background-color: #153f7d;
    padding: 10px;
    text-align: center;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

#categoryInput {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

header {
    background-color: #19109a;
    color: #fff;
    text-align: center;
    padding: 10px;
}